<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'WWNPRETTY.Name' }}"/>
            </h1>
<!--            <a class = "feedback" href = "https://github.com/puddinbustra/wwnpretty">Sheet Feedback?</a>-->
            <aside class="header-exp flexcol">
 <!--               <a class = "feedback" href = "https://github.com/puddinbustra/wwnpretty">Sheet Feedback?</a>   -->
                <div class="charlevel" title="{{multiclassLabels}}">
                    <label>{{ localize "WWNPRETTY.Level" }} {{data.details.level}} {{classLabels}}</label>

                    <!--<label> {{ localize "WWNPRETTY.Level" }} </label>
                    <input class = "levelInput" name = "data.attributes.level.value" type = "number" value = "{{data.attributes.level.value}}" placeholder="0" data-dtype="Number"/>
                    <span class="levels">{{classLabels}}</span>-->
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0" data-dtype="Number"/>
<!--                    <span class="sep">/</span>-->
<!--                    <span class="max">{{data.details.xp.max}}</span>-->
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </aside>

            {{!-- Header Attributes --}}

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <!--                Use this as a template to add things to the upper header line if needed-->
                <!--                <li>-->
                <!--                    <input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="{{ localize 'WWNPRETTY.Race' }}"/>-->
                <!--                </li>-->
                <li>
                    <input type="text" name="data.details.focus" value="{{data.details.focus}}" placeholder="{{ localize 'WWNPRETTY.Homeworld' }}"/>
                </li>
                <!--                <li>-->
                <!--                    <input class="saves" name="data.abilities.{'str'}.value" type="number" value="{str.value}"/>-->
                <!--                </li>-->
                <li>
                    <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'WWNPRETTY.Background' }}"/>
                </li>
                <li class="currencylist">
<!--                    <label> {{localize "WWNPRETTY.CurrencyCredits"}}</label>-->
<!--                    <label>-->
                        <input class = "currency" type="text" name="data.currency.credits" value="{{data.currency.credits}}"
                               placeholder="{{localize 'WWNPRETTY.CurrencyCredits'}}"/>


<!--                    </label>-->
                </li>
                <li class = "currencyimage">
                    <i class="fas fa-coins" title = "Credits"></i>
                </li>
            </ul>


            <ul class="attributes flexrow">
                <li class="attribute health no-sub">
                    <h4 class="attribute-name box-title">{{ localize "WWNPRETTY.HitPoints" }}</h4>
                    <div class="attribute-value multiple no-sub">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" placeholder="10" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" placeholder="10" data-dtype="Number"/>
                    </div>
<!--                    <footer class="attribute-footer">-->
<!--                        <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+{{ localize 'WWNPRETTY.Value' }}"-->
<!--                               value="{{data.attributes.hp.temp}}" data-dtype="Number"/>-->
<!--                        <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+{{ localize 'WWNPRETTY.Max' }}"-->
<!--                               value="{{data.attributes.hp.tempmax}}" data-dtype="Number"/>-->
<!--                    </footer>-->
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "WWNPRETTY.HitDice" }}</h4>
                    <div class="attribute-value multiple no-sub">
                        <label class="hit-dice">{{data.details.level}} D6 + {{data.abilities.con.mod}}</label>
                    </div>
<!--                    <footer class="attribute-footer">-->
<!--                        <a class="rest short-rest">{{ localize "WWNPRETTY.RestS" }}</a>-->
<!--                        <a class="rest long-rest">{{ localize "WWNPRETTY.RestL" }}</a>-->
<!--                    </footer>-->
                </li>

                {{#if isCharacter}}
                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "WWNPRETTY.ArmorClass" }}
                        <a class="config-button" data-action="armor" title="{{localize 'WWNPRETTY.ArmorConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value attributable" data-property="attributes.ac">
                        <span>{{data.attributes.ac.value}}</span>
                    </div>
                </li>
                {{/if}}

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "WWNPRETTY.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'WWNPRETTY.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "WWNPRETTY.Initiative" }}</h4>
                    <div class="attribute-value no-sub">
                        <span>{{numberFormat data.attributes.init.value decimals=0 sign=true}}</span>
                    </div>
<!--                    <footer class="attribute-footer">-->
<!--                        I'm removing this for now, to make room for possible save buttons. -Lofty -->
<!--                        <span>{{ localize "WWNPRETTY.Modifier" }}</span>-->
<!--                        <input name="data.attributes.init.value" type="text" data-dtype="Number" placeholder="0"-->
<!--                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>-->
<!--                    </footer>-->
                </li>
            </ul>

        </section>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "WWNPRETTY.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "WWNPRETTY.Inventory" }}</a>
        <!--        I've renamed spellbook to spells. Just the name has changed. -Lofty-->
        <a class="item" data-tab="spellbook">{{ localize "WWNPRETTY.Spellbook" }}</a>
        <a class="item" data-tab="features">{{ localize "WWNPRETTY.Features" }}</a>
        <a class="item" data-tab="effects">{{ localize "WWNPRETTY.SenseEffects" }}</a>
        <a class="item" data-tab="biography">{{ localize "WWNPRETTY.Biography" }}</a>
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
            {{#each data.abilities as |ability id|}}
                <li class="ability" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="10"/>
                    <div class="ability-modifiers flexrow">
                        <input class="ability-mod ability-other" title="Other" name="data.abilities.{{id}}.other" type = "number" value="{{ability.other}}" placeholder = "0"/>
                        <span class="ability-mod ability-right" title="Modifier" id="att-mod">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    </div>
                </li>
            {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
            {{#each data.skills as |skill s|}}
                <li class="skill flexrow" data-skill="{{s}}">
<!--                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>-->

                    <h4 class="skill-name rollable">{{skill.label}}</h4>
                    <input class="skill-mod" name = "data.skills.{{s}}.value" value="{{skill.value}}"
                           title = "Level" type="number" placeholder="0" />
                    <input class="skill-other" name = "data.skills.{{s}}.prof" value="{{skill.prof}}"
                           title = "Other" type="number" placeholder="0" />


                </li>
            {{/each}}
            </ul>

            <section class="center-pane flexcol">
                <ul class="attributes flexrow boxes">

                    <!--                    Save buttons from Lofty-->
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "psave"> Physical Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.psave" type="text"> vs {{data.attributes.saves.psave}} </span>
                        </div>
                    </li>
                </div>
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "esave"> Evasion Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.esave" type="text"> vs {{data.attributes.saves.esave}} </span>
                        </div>
                    </li>
                </div>
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves="msave"> Mental Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.msave" type="text"> vs {{data.attributes.saves.msave}} </span>
                        </div>
                    </li>
                </div>

                </ul>

                {{!-- Body Attributes --}}
                <ul class="attributes flexrow">

<!--                    System Strain from Lofty-->
                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name box-title"> System Strain </h4>
                            <div class="attribute-value">
                                <input name="data.attributes.strain.value" type="text" value="{{data.attributes.strain.value}}"
                                       data-dtype="Number" placeholder= "0"/>
                                <span class="sep"> /&nbsp; </span>
                                <span> {{data.abilities.con.value}} </span>
                            </div>
                        </li>
                    </div>

<!--                    Lofty putting in resource 1 and 2 as counters instead-->

                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name custom-resource">
                                <input name="data.details.counters.one" type="text" value="{{data.details.counters.one}}"
                                       placeholder="Resource 1" />
                            </h4>
                            <div class="attribute-value custom-value char-counter">
                                <input name="data.details.counters.oneval" type="text" value="{{data.details.counters.oneval}}"
                                       data-dtype="text" placeholder= "0"/>
                            </div>
                        </li>
                    </div>
                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name custom-resource">
                                <input name="data.details.counters.two" type="text" value="{{data.details.counters.two}}"
                                       placeholder="Resource 2" />
                            </h4>
                            <div class="attribute-value custom-value char-counter">
                                <input name="data.details.counters.twoval" type="text" value="{{data.details.counters.twoval}}"
                                       data-dtype="text" placeholder= "0"/>
                            </div>
                        </li>
                    </div>

                    {{#each resources as |res|}}
                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name custom-resource">
                                <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                                       placeholder="{{res.placeholder}}" />
                            </h4>
                            <div class="attribute-value custom-value">
                                <input name="data.resources.{{res.name}}.value" type="number" value="{{res.value}}" placeholder="0"/>
                                <span class="sep"> / </span>
                                <input name="data.resources.{{res.name}}.max" type="number" value="{{res.max}}" placeholder="0"/>
                            </div>
                        </li>
                    </div>
                    {{/each}}
                </ul>


<!--            Text Boxes By Lofty-->

                <div class="flexrow front-info">
                    <div class="flexcol info">
                        <textarea name="data.details.info.value" placeholder="Ongoing Effects" class="npc-text-area">{{data.details.info.value}}</textarea>

                    </div>
                    <div class="flexcol info">
                        <textarea name="data.details.scars.value" placeholder="Notes" class="npc-text-area">{{data.details.scars.value}}</textarea>
                    </div>
                </div>
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/wwnpretty/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/wwnpretty/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spells Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/wwnpretty/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Extras Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            <div class = "flexrow">
                <div class = "flexcol extras-info info">
                    <textarea name="data.details.extrasone.value" placeholder="Notes+" class="npc-text-area">{{data.details.extrasone.value}}</textarea>
                </div>
                <div class = "flexcol extras-info info">
                    <textarea name="data.details.extrastwo.value" placeholder="Notes++" class="npc-text-area">{{data.details.extrastwo.value}}</textarea>
                </div>
            </div>
            <div class = "extras-list">
            {{> "systems/wwnpretty/templates/actors/parts/actor-traits.html"}}
            </div>
<!--            {{> "systems/wwnpretty/templates/actors/parts/active-effects.html"}}-->
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol front-info">
                <label>{{ localize "WWNPRETTY.Appearance" }}</label>
                <textarea name="data.details.appearance">{{data.details.appearance}}</textarea>
                <label>{{ localize "WWNPRETTY.Ideals" }}</label>
                <textarea name="data.details.ideal">{{data.details.ideal}}</textarea>
                <label>{{ localize "WWNPRETTY.PersonalityTraits" }}</label>
                <textarea name="data.details.trait">{{data.details.trait}}</textarea>
                <label>{{ localize "WWNPRETTY.Bonds" }}</label>
                <textarea name="data.details.bond">{{data.details.bond}}</textarea>
            </div>
            <div class="biography">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>
