<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- NPC Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'WWNPRETTY.Name' }}"/>
            </h1>

<!--            Lofty adding character level to npc just for easy power upgrade-->
            <aside class="header-exp flexcol">
                <div class="charlevel" title="{{multiclassLabels}}">
                    <label> {{ localize "WWNPRETTY.Level" }} </label>
                    <input class = "levelInput" name = "data.attributes.level.value" type = "number" value = "{{data.attributes.level.value}}" placeholder="0" data-dtype="Number"/>
                    <span class="levels">{{classLabels}}</span>
                </div>
            </aside>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health no-sub">
                    <h4 class="attribute-name box-title">{{ localize "WWNPRETTY.HitPoints" }}</h4>
                    <div class="attribute-value multiple no-sub">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" placeholder="10" data-dtype="Number"/>
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" placeholder="10" data-dtype="Number"/>
                    </div>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "WWNPRETTY.HitDice" }}</h4>
                    <div class="attribute-value no-sub">
                        <input name="data.npcHitDice" class="hit-dice" type="text" value="{{data.npcHitDice}}" placeholder="1"/>
                    </div>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "WWNPRETTY.ArmorClass" }}</h4>
                    <div class="attribute-value no-sub">
                        <input name="data.attributes.ac.npc" type="number" value="{{data.attributes.ac.npc}}" placeholder="10"/>
                    </div>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "WWNPRETTY.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'WWNPRETTY.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>

                <li class="attribute initiative">
<!--                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "WWNPRETTY.Initiative" }}</h4>-->
                    <h4 class="attribute-name box-title">{{ localize "WWNPRETTY.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
<!--                    <div class="attribute-value no-sub">-->
<!--                        <input name="data.attributes.init.total" type="number" value="{{data.attributes.init.total}}" placeholder="0"/>-->
<!--                    </div>-->
                    <footer class="attribute-footer input-footer">
<!--                        <span class="spell-dc">{{localize "WWNPRETTY.BaseAC"}}: {{data.attributes.base}}</span>-->
                        <input name="data.attributes.init.custom" type="number" value="{{data.attributes.init.custom}}" placeholder="0" title="Bonus"  />
                    </footer>
                </li>
            </ul>

            {{!-- Character Summary --}}
            <ul class="summary flexrow header-boxes">
                <li>
                    <label> # of Atks: &nbsp
                        <input type="text" name="data.attributes.attacks" value="{{data.attributes.attacks}}" placeholder=1 />
                    </label>
                </li>
                <li>
                    <label> Att Bonus: &nbsp
                        <input type="text" name="data.attackBonus" value="{{data.attackBonus}}" id="attbonus" placeholder="0"/>
                    </label>
                </li>

                <li>
                    <label> Dam Bonus: &nbsp
                        <input type="text" name="data.damageBonus" value="{{data.damageBonus}}" placeholder="0"/>
                    </label>
                </li>
                <li>
                    <select name="data.attitude.type" class="attitude" title="Attitude">
                        {{#select data.attitude.type}}
                        {{#each config.attitudes as |name type|}}
                          <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </li>
            </ul>

        </section>
    </header>

    {{!-- NPC Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "WWNPRETTY.Attributes" }}</a>
        <a class="item" data-tab="features">{{ localize "WWNPRETTY.Features" }}</a>
        <a class="item" data-tab="spellbook">{{ localize "WWNPRETTY.Spellbook" }}</a>
        <a class="item" data-tab="effects">{{ localize "WWNPRETTY.SenseEffects" }}</a>
        <a class="item" data-tab="biography">{{ localize "WWNPRETTY.Biography" }}</a>
    </nav>

    {{!-- NPC Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="10"/>
                    <div class="ability-modifiers flexrow">
                        <input class="ability-mod ability-other" title="Other" name="data.abilities.{{id}}.other" type = "number" value="{{ability.other}}" placeholder = "0"/>
                        <span class="ability-mod ability-right" title="Modifier" id="att-mod">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                {{#each data.skills as |skill s|}}
                <li class="skill flexrow" data-skill="{{s}}">
                    <h4 class="skill-name rollable">{{skill.label}}</h4>
                    <input class="skill-mod" name = "data.skills.{{s}}.value" value="{{skill.value}}"
                           title = "Level" type="number" placeholder="-1" />
                    <input class="skill-other" name = "data.skills.{{s}}.prof" value="{{skill.prof}}"
                           title = "Other" type="number" placeholder="0" />
                </li>
                {{/each}}
            </ul>

<!--            Right side of the sheet-->
            <section class="center-pane flexcol">
                <ul class="attributes flexrow boxes">
<!--                                        Save buttons from Lofty-->
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "psave"> Physical Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.psave" type="text"> vs {{data.attributes.saves.psave}} </span>
                        </div>
                    </li>
                </div>
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "esave"> Evasion Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.esave" type="text"> vs {{data.attributes.saves.esave}} </span>
                        </div>
                    </li>
                </div>
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves="msave"> Mental Save </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.msave" type="text"> vs {{data.attributes.saves.msave}} </span>
                        </div>
                    </li>
                </div>
                <div>
                    <li class="attribute resource save-box">
                        <h4 class="save-click attribute-name box-title rollable" data-saves = "morale"> Morale/Instinct </h4>
                        <div class="attribute-value">
                            <span name="data.attributes.saves.morale" type="text"> vs &nbsp; </span>
                            <input name="data.attributes.saves.morale" type="text" class = "effort-box"
                                   value="{{data.attributes.saves.morale}}" data-dtype="Number" placeholder= "6?"/>
                        </div>
                    </li>
                </div>


                    <!--                    System Strain from Lofty-->
                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name box-title"> System Strain </h4>
                            <div class="attribute-value">
                                <input name="data.attributes.strain.value" type="text" class = "effort-box"
                                       value="{{data.attributes.strain.value}}" data-dtype="Number" placeholder= "0"/>
                                <span class="sep"> /&nbsp; </span>
                                <span> {{data.abilities.con.value}} </span>
                            </div>
                        </li>
                    </div>
                    <div>
                        <li class="attribute resource">
                            <h4 class="attribute-name box-title"> {{localize "WWNPRETTY.Effort"}} </h4>
                            <div class="attribute-value">
                                <input name="data.attributes.effort.value" type="text" class = "effort-box"
                                       value="{{data.attributes.effort.value}}" data-dtype="Number" placeholder= "0"/>
                                <span class="sep">/</span>
                                <input name="data.attributes.effort.max" type="text" class = "effort-box"
                                       value="{{data.attributes.effort.max}}" data-dtype="Number" placeholder= "0"/>
                            </div>
                        </li>
                    </div>
                </ul>
<!--                <label> More Info </label>-->
                <textarea name="data.details.other" placeholder="Notes" class="npc-text-area">{{data.details.other}}</textarea>
            </section>
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/wwnpretty/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        {{!-- Spells Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/wwnpretty/templates/actors/parts/actor-spellbook.html"}}
        </div>

        {{!-- Senses/Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">

            <div class = "flexrow">
                <div class = "flexcol extras-info info">
                    <textarea name="data.details.extrasone.value" placeholder="Notes+" class="npc-text-area">{{data.details.extrasone.value}}</textarea>
                </div>
                <div class = "flexcol extras-info info">
                    <textarea name="data.details.extrastwo.value" placeholder="Notes++" class="npc-text-area">{{data.details.extrastwo.value}}</textarea>
                </div>
            </div>
            <div class = "extras-list">
                {{> "systems/wwnpretty/templates/actors/parts/actor-traits.html"}}
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "WWNPRETTY.Appearance" }}</label>
                <textarea name="data.details.appearance">{{data.details.appearance}}</textarea>
                <label>{{ localize "WWNPRETTY.Ideals" }}</label>
                <textarea name="data.details.ideal">{{data.details.ideal}}</textarea>
                <label>{{ localize "WWNPRETTY.PersonalityTraits" }}</label>
                <textarea name="data.details.trait">{{data.details.trait}}</textarea>
                <label>{{ localize "WWNPRETTY.Bonds" }}</label>
                <textarea name="data.details.bond">{{data.details.bond}}</textarea>
            </div>
            <div class="biography">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
            </div>
            <!--        <div class="tab biography flexcol" data-group="primary" data-tab="biography">-->
            <!--            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}-->
            <!--        </div>-->
        </div>

    </section>
</form>
